<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark mt-3"
     style="width: 250px;height: 500px; background-color: rgba(0,0,255,.1)">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <span class="fs-4 mx-3 ">Categories</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item ">
            <a href="{% url "myshop:product_list" %}" class="nav-link text-white {% if not category %}active{% endif %}" aria-current="page">
                All Products
            </a>
        </li>
    {% for c in categories %}
                <li>
            <a href="{{ c.get_absolute_url }}" class="nav-link text-white {% if category.slug == c.slug %}active{% endif %}">
                {{ c.name }}
            </a>
        </li>
    {% endfor %}
    </ul>
    <hr>
</div>